@import "~semantic-ui-css/semantic.css";
@import 'codehilite';


.text-muted {
    color: rgba(255, 255, 255, 0.6);
}

.masthead {
    min-height: 350px;
}

.monospace {
    font-family: monospace;
}

.mt-5 {
    margin-top: 25px;
}

.mt-4 {
    margin-top: 15px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.sponsor-img {
    padding: 0 10px;
}
