{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
    <div class="ui container">
{#        <div class="ui one center grid">#}
            {% get_providers as socialaccount_providers %}
            {% for provider in socialaccount_providers %}
                <div>
                    <a href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}">Sign
                        in with {{ provider.name }}</a>
                </div>
            {% endfor %}
{#        </div>#}
    </div>
{% endblock %}
