# build/test artifacts
.cache/
.coverage
.tox/
ansible/.pass
ansible/roles/
artifacts/
collected-static/

# python
**/__pycache__/
.venv
celerybeat-schedule/
django

# node/js
app/static/dist/
node_modules
npm-debug.log
package-lock.json
yarn-error.log

# editors
.idea/
.vscode

celerybeat\.pid
