[MASTER]
ignore = .git, .venv, .tox, .env, migrations, tests
persistent = no
jobs = 4

[VARIABLES]

# Tells whether we should check for unused import in __init__ files.
init-import=yes

[MESSAGES CONTROL]
disable =
    bad-continuation,
    fixme,
    missing-docstring,
    invalid-name,
    ungrouped-imports
