version: "3.4"

services:
  web:
    image: pyslackers/website:dev
    build: .
    depends_on:
      - redis
      - postgresql
    environment:
      REDIS_URL: "redis://redis:6379/0"
      DATABASE_URL: "postgresql://${USER}:@postgresql:5432/pyslackers_dev"
      SLACK_INVITE_TOKEN: "${SLACK_INVITE_TOKEN}"
      SLACK_TOKEN: "${SLACK_TOKEN}"
    ports:
      - "8000:8000"
    volumes:
      - "${PWD}:/app"
      - tox-data:/app/.tox
    command: "/bin/sh -c 'alembic upgrade head && gunicorn pyslackersweb:app_factory --access-logfile - --bind=0.0.0.0:8000 --worker-class=aiohttp.GunicornWebWorker --reload'"

  redis:
    image: redis:5-alpine
    ports:
      - 6379:6379

  postgresql:
    image: postgres:11
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "${USER}"
      POSTGRES_PASSWORD: ""
      POSTGRES_DB: "pyslackers_dev"
      POSTGRES_HOST_AUTH_METHOD: "trust"

volumes:
  tox-data: {}
