version: "3.4"

services:
  web:
    image: pyslackers/website:dev
    build: .
    depends_on:
      - redis
      - postgresql
    environment:
      REDIS_URL: "redis://redis:6379/0"
      POSTGRESQL_DSN: "postgresql://main:main@postgresql:5432/main"
      SLACK_INVITE_TOKEN: "${SLACK_INVITE_TOKEN}"
      SLACK_TOKEN: "${SLACK_TOKEN}"
    ports:
      - "8000:8000"
    volumes:
      - "${PWD}:/app:Z"
      - tox-data:/app/.tox:Z
    command: gunicorn pyslackersweb:app_factory --access-logfile - --bind=0.0.0.0:8000 --worker-class=aiohttp.GunicornWebWorker --reload

  redis:
    image: redis:5-alpine

  postgresql:
    image: postgres:11
    environment:
      POSTGRES_PASSWORD: main
      POSTGRES_USER: main

volumes:
  tox-data: {}
