{% load static %}
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://pyslackers.com"/>
<meta property="og:title" content="PySlackers"/>
<meta property="og:description" content="A group dedicated to building and enabling the global Python community by providing a safe
                                         and inclusive place to learn, share, and grow as a Pythonista"/>
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/pyslackers_official.svg' %}">
