{% extends "base.html" %}

{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('home.css') }}">
{% endblock %}

{% block body %}
<div class="header">
    <img src="{{ static('images/pyslackers_official.svg') }}" alt="PySlackers Logo" class="mx-auto" style="max-width: 550px;"/>

    <h2 class="header-text">
      An open community for <a href="https://python.org">Python</a> programming enthusiasts.
    </h2>
    <hr class="bg-light"/>

    <a href="{{ url('slack') }}" class="btn">Join the community <img src="{{ static('images/arrow_right.svg') }}" class="icon" alt="arrow right" /></a>
    {% if member_count %}
      <span class="text-muted">{{ member_count|formatted_number }} Members</span>
    {% endif %}
</div>

<div class="container">
    <section>
        <h3 class="section-header"><img src="{{ static('images/sticky_note.svg') }}" alt="Sticky Note" class="icon" /> About Us</h3>
        <div>
          Welcome to the PySlackers community! We are a growing and inclusive community of <a href="https://python.org">Python</a> enthusiasts ranging from those just starting to those who have built their entire career around it. Our community has a range of resources from our main presence on <a href="{{ url('slack') }}">Slack</a> to our <a href="https://github.com/pyslackers">community projects</a>.
        </div>
    </section>
  {% if projects %}
      <section class="projects">
        <h3 class="section-header"><img src="{{ static('images/code_branch.svg') }}" alt="Code Branch" class="icon"> Projects</h3>
        <div class="card-columns">
          {% for project in projects %}
            <a class="card" href="{{ project.href }}">
                <h4 class="card-title">
                  {{ project.name }}
                </h4>
                <p class="card-text">{{ project.description }}</p>
                <p class="card-stars text-muted small">
                    <img src="{{ static('images/star.svg') }}" alt="star" class="icon small" />  {{ project.stars }}
                </p>
            </a>
          {% endfor %}
        </div>
        <a href="https://github.com/pyslackers" class="btn">
          <img src="{{ static('images/github.png') }}" alt="GitHub" class="icon" /> View All
        </a>
      </section>
  {% endif %}

  {% if sponsors %}
      <section>
        <h3 class="section-header"><img src="{{ static('images/heart.svg') }}" alt="Heart" class="icon" /> Sponsors</h3>

        <div class="sponsors-list">
            {% for sponsor in sponsors %}
            <a class="sponsors-list-item" href="{{ sponsor.href }}">
              <img src="{{ sponsor.image }}"/>
            </a>
            {% endfor %}
        </div>
      </section>
  {% endif %}
</div>
{% endblock %}
