{% load static %}
<div class="ui container mt-5 mb-5" id="projects">
    <h3 class="ui header">
        <i class="empty heart tiny icon"></i>
        <div class="content">
            Sponsors
        </div>
    </h3>

    <div class="ui special cards">
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a class="ui inverted button" href="https://m.do.co/c/457f0988c477">Say Thanks</a>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/sponsor_digital_ocean_logo.png' %}" class="sponsor-img" />
            </div>
        </div>
    </div>
</div>
