{% extends 'marketing/base.html' %}

{% block content %}
    <br/>
    <div class="ui container monospace p-b-100">
        <h1 class="ui dividing header" id="terms_of_use">Terms of Use</h1>

        <h4>Data</h4>

        <p>Any data collected is used strictly to build the community and is not made available
        in any form outside of the administrators and the small bits seen on this site. Our only goal
        is to bolster the global Python community.</p>

        <p>Everything is run in the open and the code can be audited, specific repositories are linked below but all can be seen in our GitHub organization <a href="https://github.com/pyslackers" target="_blank">github.com/pyslackers</a>.</p>

        {# Currently not exposed #}
{#        <h4>Website</h4>#}
{##}
{#        <p>#}
{#            We collect very basic account information, basically everything you enter during <em>Sign Up</em> or what the OAuth2 provider gives us. It also polls slack for some info to help in the#}
{#            invitation process (disallowing burner domains, mitigating duplicate accounts, etc).#}
{#        </p>#}

        <h4>Slack Team</h4>

        <p>
            Slack is a closed platform and as such, we are subject to their policies. Please be sure
            to read their terms of usage during sign-up, as ours are additive.
        </p>

        <p>
            Additionally we have a community <a href="https://github.com/pyslackers/sir-bot-a-lot">bot</a> to extend
            functionality of the Slack team. This bot is able to see and record all messages in channels it belongs to (public,
            private, or direct messages to the bot). The messages are recorded to keep a possible messages past the free
            tier limit (10,000 messages) - which we typically go through within a week or two.
        </p>

        <h4 class="ui header" id="issue_tracker">Issues or Concerns?</h4>

        <p>
            Please post issues, fixes, questions and concerns on our <a href="https://github.com/pyslackers/community/issues/new?labels=topic/code%20of%20conduct"><i class="icon github"></i>Community Issue Tracker</a>.
        </p>

        <h1 class="ui dividing header" id="code_of_conduct">Code of Conduct</h1>

        <h2 class="ui header" id="our_pledge">Our Pledge</h2>

        <p>In the interest of fostering an open and welcoming environment, we as
            contributors and maintainers pledge to making participation in our
            project and
            our community a harassment-free experience for everyone, regardless
            of age, body
            size, disability, ethnicity, gender identity and expression, level
            of experience,
            nationality, personal appearance, race, religion, or sexual identity
            and
            orientation.</p>

        <h2 class="ui header" id="our_standards">Our Standards</h2>

        <p>Examples of behavior that contributes to creating a positive
            environment
            include:</p>

        <ul>
            <li>Using welcoming and inclusive language</li>
            <li>Being respectful of differing viewpoints and experiences</li>
            <li>Gracefully accepting constructive criticism</li>
            <li>Focusing on what is best for the community</li>
            <li>Showing empathy towards other community members</li>
        </ul>

        <p id="unacceptable_behavior"><em>Examples</em> of unacceptable behavior by participants include:</p>

        <ul>
            <li>
                The use of sexualized language or imagery and unwelcome sexual attention or advances
            </li>
            <li>
                Trolling, insulting/derogatory comments, and personal or political attacks
            </li>
            <li>
                Public or private harassment
            </li>
            <li>
                Publishing others' private information, such as a physical or electronic address, without explicit permission
            </li>
            <li>
                Sharing links, copies, or instructions how to obtain any copyrighted content in a way that infringes on the copyright holder's rights (as provided in the copyright owners's country).
            </li>
            <li>
                Other conduct which could reasonably be considered inappropriate in a professional setting
            </li>
        </ul>

        <h2 class="ui header" id="our_responsibilities">Our Responsibilities</h2>

        <p>Project maintainers are responsible for clarifying the standards of
            acceptable
            behavior and are expected to take appropriate and fair corrective
            action in
            response to any instances of unacceptable behavior.</p>

        <p>Project maintainers have the right and responsibility to remove,
            edit, or
            reject comments, commits, code, wiki edits, issues, and other
            contributions
            that are not aligned to this Code of Conduct, or to ban temporarily
            or
            permanently any contributor for other behaviors that they deem
            inappropriate,
            threatening, offensive, or harmful.</p>

        <h2 class="ui header" id="scope">Scope</h2>

        <p>This Code of Conduct applies both within project spaces and in public
            spaces
            when an individual is representing the project or its community.
            Examples of
            representing a project or community include using an official
            project e-mail
            address, posting via an official social media account, or acting as
            an appointed
            representative at an online or offline event. Representation of a
            project may be
            further defined and clarified by project maintainers.</p>

        <h2 class="ui header" id="enforcement">Enforcement</h2>

        <p>Instances of abusive, harassing, or otherwise unacceptable behavior
            may be
            reported by contacting the project team at <a href="mailto:pythondev.slack@gmail.com">pythondev.slack@gmail.com</a>.
            All
            complaints will be reviewed and investigated and will result in a
            response that
            is deemed necessary and appropriate to the circumstances. The
            project team is
            obligated to maintain confidentiality with regard to the reporter of
            an incident.
            Further details of specific enforcement policies may be posted
            separately.</p>

        <p>Project maintainers who do not follow or enforce the Code of Conduct
            in good
            faith may face temporary or permanent repercussions as determined by
            other
            members of the project's leadership.</p>

        <h2 class="ui header" id="attribution">Attribution</h2>

        <p>This Code of Conduct is adapted from the <a
                href="http://contributor-covenant.org">Contributor Covenant</a>,
            version 1.4,
            available at <a href="http://contributor-covenant.org/version/1/4/">http://contributor-covenant.org/version/1/4</a>.
        </p>

        <h1 class="ui dividing header" id="tldr">TL;DR</h1>

        <ul>
            <li>You are bound by the terms of Slack, if you join the Slack team</li>
            <li>The community projects collect a small amount of Slack data through a bot and this website - but it is not sold, shared, or otherwise available outside the admins</li>
            <li>You agree to abide by our <a href="#code_of_conduct">Code of Conduct</a></li>
            <li>All projects are run in the open: audit them at <a href="https://github.com/pyslackers" target="_blank">github.com/pyslackers</a></li>
            <li>Destructive users will have their accounts deactivated if they do not respond to admin warnings.</li>
            <li>Cookies are used on this site, for authentication and data protection (CSRF).</li>
            <li>Use the <a href="https://github.com/pyslackers/community/issues/new?labels=topic/code%20of%20conduct"><i class="icon github"></i>Community Issue Tracker</a> for community related issues</li>
        </ul>
    </div>
{% endblock %}