<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <meta property="og:type" content="website"/>
      <meta property="og:url" content="https://pyslackers.com"/>
      <meta property="og:title" content="PySlackers"/>
      <meta property="og:description" content="A community dedicated to building and enabling the global Python community by providing a safe
                                               and inclusive place to learn, share, and grow as a Pythonista."/>
      <meta property="og:image" content="{{ request.scheme }}://{{ request.host }}{{ request.app.router["static"].url_for(filename='images/pyslackers_official.svg') }}">
    {% endblock %}

    <title>{% block title %}PySlackers{% endblock %}</title>

    {% block link %}
      <link rel="stylesheet" href="{{ request.app.router["static"].url_for(filename='vendor/bootstrap.4.3.1.min.css') }}"/>
      <link rel="stylesheet" href="{{ request.app.router["static"].url_for(filename='vendor/remixicons-2.1.0/remixicon.css') }}"/>
      <link rel="stylesheet" href="{{ request.app.router["static"].url_for(filename='styles.css') }}">
    {% endblock %}
  </head>
  <body>
    <main>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% set path = url('index') %}
        <a class="navbar-brand" href="{{ url('index') }}">
          <img src="{{ request.app.router["static"].url_for(filename='images/pyslackers_small.svg') }}" style="max-width: 175px;"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav mr-auto">
            {% set path = url('index') %}
            <li class="nav-item {% if path|string == request.path %} active{% endif %}">
              <a class="nav-link" href="{{ path }}">Home</a>
            </li>
            {% set path = url('slack') %}
            <li class="nav-item {% if path|string == request.path %} active{% endif %}">
              <a class="nav-link" href="{{ url('slack') }}">Slack</a>
            </li>
          </ul>
        </div>
      </nav>

      {% block body %}{% endblock %}
    </main>

    {% block scripts %}
      <script src="{{ request.app.router["static"].url_for(filename='vendor/jquery-3.3.1.slim.min.js') }}"></script>
      <script src="{{ request.app.router["static"].url_for(filename='vendor/popper-1.14.7.min.js') }}"></script>
      <script src="{{ request.app.router["static"].url_for(filename='vendor/bootstrap-4.3.1.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
