{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% block opengraph %}
        {% include 'partials/opengraph.html' %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'dist/app.css' %}"/>
    {% block extra_link %}{% endblock %}

    <title>{% block title %}PySlackers - A community for Python enthusiasts{% endblock %}</title>

    <script src="{% static 'dist/commons.js' %}"></script>
    <script src="{% static 'dist/app.js' %}"></script>

    {% block extra_script %}{% endblock %}
</head>
<body>

{% block body %}
    {% block nav %}
        <div class="ui secondary pointing menu stackable">
            <a class="item" href="{% url 'marketing:index' %}">
                <img src="{% static 'images/pyslackers_text.svg' %}" alt="PS" style="min-width: 100px;"/>
            </a>

            {% include 'partials/nav_items.html' %}
        </div>
    {% endblock %}

    {% block main %}
        <div class="ui container" style="margin-bottom: 15px;">
            {% block messages %}
                {% if messages %}
                    <div class="ui message">
                        <i class="close icon"></i>
                        <div class="header">Heads Up!</div>
                        <ul class="list">
                            {% for message in messages %}
                                <li{% if message.tags %}
                                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        {% block content %}{% endblock %}
    {% endblock %}
{% endblock %}
</body>
</html>
