{% extends 'blog/base.html' %}
{% load md humanize %}

{% block content %}
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" href="{% url 'blog:index' %}">Blog</a>
      <i class="right angle icon divider"></i>
      <a class="section" href="{% url 'blog:detail' slug=post.slug %}">{{ post.slug }}</a>
    </div>

    <h1 class="ui header aligned center">
      {{ post.title }}
    </h1>
    <h4 class="ui horizontal divider header" style="color: darkgrey;">
      <span style="color: darkgrey;">{{ post.published_at | naturaltime }}</span>
      &nbsp;by:&nbsp;<a href="#">{{ post.author.username }}</a>
    </h4>
    {# TODO: align right? #}
    {% for tag in post.tags.all %}
      <a class="ui label" href="{% url 'blog:index' %}?tag={{ tag }}">{{ tag.name | title }}</a>
    {% endfor %}
    
    <div class="ui container" style="margin: 15px 0 60px;">
      {{ post.content | markdown_to_html | safe }}
    </div>
  </div>
{% endblock %}
