version: 2

jobs:
  build:
    parallelism: 1
    working_directory: ~/app
    docker:
      - image: circleci/python:3.8-node-browsers
      - image: circleci/redis:5.0.5-alpine
      - image: circleci/postgres:11.4-alpine
        environment:
          POSTGRES_USER: main
          POSTGRES_DB: main
          POSTGRES_PASSWORD: main

    steps:
      - checkout
      - restore_cache:
          keys:
            - 'venv-{{ checksum "requirements/base.txt" }}-{{ checksum "requirements/testing.txt" }}-{{ checksum "requirements/development.txt" }}-{{ checksum "requirements/production.txt" }}'
      - restore_cache:
          keys:
            - 'tox-{{ checksum "requirements/base.txt" }}-{{ checksum "requirements/testing.txt" }}-{{ checksum "requirements/development.txt" }}-{{ checksum "requirements/production.txt" }}'
      - run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install -U tox
      - save_cache:
          key: 'venv-{{ checksum "requirements/base.txt" }}-{{ checksum "requirements/testing.txt" }}-{{ checksum "requirements/development.txt" }}-{{ checksum "requirements/production.txt" }}'
          paths:
            - .venv
      - run:
          environment:
            POSTGRESQL_DSN: postgresql://main:main@127.0.0.1:5432/main
          command: |
            source .venv/bin/activate
            tox
      - save_cache:
          key: 'tox-{{ checksum "requirements/base.txt" }}-{{ checksum "requirements/testing.txt" }}-{{ checksum "requirements/development.txt" }}-{{ checksum "requirements/production.txt" }}'
          paths:
            - .tox
            - .mypy_cache
      - store_test_results:
          path: .tox/py37/artifacts/
  sentry:
    working_directory: ~/app
    docker:
      - image: getsentry/sentry-cli
    environment:
      SENTRY_ORG: pyslackers
    steps:
      - checkout
      - run: |
          VERSION=$(sentry-cli releases propose-version)
          sentry-cli releases new -p website $VERSION
          sentry-cli releases set-commits --auto $VERSION

workflows:
  version: 2
  workflow:
    jobs:
      - build
      - sentry:
          filters:
            branches:
              only: master
