{% load static %}
{% load tojson %}

<div class="ui container" >
  <div class="ui container segment" id="leaflet_container">
    <div id="leaflet_member_map" />
  </div>
</div>
<script type="text/javascript">
  const slack_member_tz_count = {{ slack_member_tz_count | tojson }};
</script>

{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
<script src="{% static 'js/member_map.js' %}"></script>
{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
{% endblock %}