{% extends 'base.html' %}
{% load static %}

{% block extra_link %}
    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}"/>
{% endblock %}

{% block body %}
    <div class="ui secondary pointing menu stackable">
        <a class="item" href="{% url 'marketing:index' %}">
            <img src="{% static 'images/pyslackers_text.svg' %}" alt="PS" style="min-width: 100px;"/>
        </a>
        <a class="item" href="{% url 'marketing:index' %}">Home</a>
        <a class="item active" href="{% url 'blog:index' %}">Blog</a>

        {# TODO: conditional login/out #}
{#        <a class="right item" href="{% url 'account_logout' %}">#}
{#            Log Out#}
{#        </a>#}
    </div>

    {% block content %}{% endblock %}
{% endblock %}