{% extends 'blog/base.html' %}
{% load humanize tz %}

{% block content %}
    <div class="ui container" style="margin-top: 5px;">
        <div class="ui grid stackable">
            <div class="five wide column">
                <div class="ui vertical menu">
                    <div class="header item">Tags</div>
                    {% for tag in tags %}
                        <a class="item{% if tag in request.GET.values %} active{% endif %}"
                           href="{% url 'blog:index' %}?tag={{ tag }}">
                            {{ tag | title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="eleven wide column">
                <div class="ui divided items">
                    {% for post in posts %}
                        <div class="item">
                            <div class="content">
                                <a class="header"
                                   href="{% url 'blog:detail' slug=post.slug %}">{{ post.title }}</a>
                                <div class="meta">
                                    {# TODO: Get the user's timezone #}
                                    <span title="{{ post.published_at | date:'c' }}">{{ post.published_at | naturaltime }}</span>
                                </div>
                                {# TODO: Generate summary... #}
                                {#                            <div class="description">#}
                                {#                                <p>#}
                                {#                                {{ "summary" | truncatechars:125 }}#}
                                {#                                </p>#}
                                {#                            </div>#}
                                <div class="extra">
                                    {% for tag in post.tags.all %}
                                        <a class="ui label"
                                           href="{% url 'blog:index' %}?tag={{ tag }}">{{ tag | title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {# TODO #}
                        <div>Such Empty :(</div>
                    {% endfor %}
                </div>

                {# TODO: implement pagination #}
                {#                <div class="ui pagination menu">#}
                {#                    <a class="active item">1</a>#}
                {#                    <a class="item">2</a>#}
                {#                    <a class="item">3</a>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
