<div class="ui container mt-5 mb-5" id="projects">
    <h3 class="ui header">
        <i class="github tiny icon"></i>
        <div class="content">
            Projects
        </div>
    </h3>

    <div class="ui three stackable cards">
        {% for repo in repos %}
            {% include 'marketing/partials/github/repo_card.html' %}
        {% endfor %}
    </div>

    <div class="ui container center aligned mt-5" style="margin-bottom: 50px;">
        <a class="ui primary button" href="https://github.com/pyslackers">
            <i class="github icon"></i>
            View All
        </a>
    </div>
</div>