{% load static %}
<footer class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="nine wide column text-muted middle aligned">
                &copy; {% now "Y" %} PySlackers
            </div>
{#            <div class="three wide column"></div>#}
{#            <div class="three wide column"></div>#}
            <div class="seven wide column">
                <h4 class="ui inverted header">Built With</h4>
                <p>
                    <a href="https://www.djangoproject.com/">
                        <img style="width: 30%;" src="{% static 'images/django-logo-negative.svg' %}"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
