{% load static %}
<div class="ui container mt-5 mb-5" id="projects">
    <h3 class="ui header">
        <i class="empty heart tiny icon"></i>
        <div class="content">
            Sponsors
        </div>
    </h3>

    <div class="ui special cards">
        {% include 'marketing/partials/_sponsor.html' with sponsor_link='http://platform.sh/?medium=referral&utm_campaign=sponsored_sites&utm_source=pyslackers' sponsor_image='https://platform.sh/images/logo-dark-2x.png' %}

        {% static 'images/sponsor_sentry_logo.svg' as sentry_img %}
        {% include 'marketing/partials/_sponsor.html' with sponsor_link='https://sentry.io/?utm_source=referral&utm_content=pyslackers&utm_campaign=community' sponsor_image=sentry_img %}
    </div>
</div>
