{% load static %}
<div class="ui container mt-5 mb-5" id="projects">
    <h3 class="ui header">
        <i class="empty heart tiny icon"></i>
        <div class="content">
            Sponsors
        </div>
    </h3>

    <div class="ui special cards">
        {% static 'images/sponsor_digital_ocean_logo.png' as do_img %}
        {% include 'marketing/partials/_sponsor.html' with sponsor_link='https://m.do.co/c/457f0988c477' sponsor_image=do_img %}

        {% static 'images/sponsor_sentry_logo.svg' as sentry_img %}
        {% include 'marketing/partials/_sponsor.html' with sponsor_link='https://sentry.io/?utm_source=referral&utm_content=pyslackers&utm_campaign=community' sponsor_image=sentry_img %}
    </div>
</div>
