{% extends 'slack/base.html' %}

{% load humanize static %}

{% block extra_script %}
    <script src="{% static 'vendor/js/leaflet-1.2.0.js' %}"></script>
    <script src="{% static 'js/member_map.js' %}"></script>
    <script src="{% static 'js/slack_invite.js' %}"></script>
{% endblock %}

{% block extra_link %}
    <link rel="stylesheet" href="{% static 'vendor/css/leaflet-1.2.0.css' %}" />
{% endblock %}

{% block content %}
    <div class="ui container">
        <h2 class="ui header centered" id="join">
            Join us on Slack!
            <span class="sub header">Socialize, learn, and teach {{ slack_member_count | intcomma }} other
                members.
                <br/>
                <a href="https://pythondev.slack.com">pythondev.slack.com</a>
            </span>
        </h2>

        {% if slack_member_tz_count %} {% include 'slack/partials/member_map.html' %} {% endif %}

        {% include 'slack/partials/invite_form.html' %}
    </div>
{% endblock %}
