# {{ ansible_managed }}

DATABASE_URL=postgres://{{ database.user }}:{{ database.password }}@{{ database.host | default('127.0.0.1') }}:{{ database.port | default(5432) }}/{{ database.name }}
GUNICORN_CMD_ARGS="--bind=127.0.0.1:8000 --workers=2 --access-logfile - --log-level debug --capture-output --log-syslog"
REDIS_URL=redis://
SECRET_KEY={{ secret_key }}
EMAIL_USER={{ sendgrid.username }}
EMAIL_PASSWORD={{ sendgrid.password }}
SLACK_JOIN_CHANNELS={{ slack.join_channels }}
SLACK_OAUTH_TOKEN={{ slack.oauth_token }}
APP_VERSION={{ clone.after }}
