<div class="ui container mt-4">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <h3 class="ui header">
                    <i class="sticky note outline icon"></i>
                    About Us
                </h3>
                <div class="description">
                    Welcome to the PySlackers community site! We are a
                    growing community of <a
                        href="https://python.org" target="_blank">Python</a>
                    enthusiasts,
                    ranging from
                    those starting the language, to those who have been
                    using it for far too long. Our community has a range of
                    resources, from our main presence on Slack to our
                    <a href="https://github.com/pyslackers" target="_blank">community
                        projects <i class="github icon"></i></a>.
                </div>
            </div>
        </div>
    </div>
</div>