<div class="ui modal" id="invite_modal">
    <div class="header">Join the community!</div>
    <div class="content">
        <form class="ui form error" action="" method="post"
              id="invite_form">
            {% csrf_token %}
            <div class="field{% if form.email.errors %} error{% endif %}">
                <label for="{{ form.email.name }}">Email</label>
                <input name="{{ form.email.name }}"
                       id="{{ form.email.name }}"
                       {% if form.email.value %}value="{{ form.email.value }}"{% endif %}
                       required/>
            </div>

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="ui error message">
                        <p>{{ error | escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="field{% if form.accept_tos.errors %} error{% endif %}">
                <div class="ui checkbox">
                    <input tabindex="0" name="{{ form.accept_tos.name }}"
                           id="{{ form.accept_tos.name }}" class="hidden" type="checkbox"/>
                    <label for="{{ form.accept_tos.name }}">I agree to the <a href="{% url 'marketing:tos' %}" target="_blank">Terms and Conditions</a></label>
                </div>
            </div>

            {% if form.accept_tos.errors %}
                {% for error in form.accept_tos.errors %}
                    <div class="ui error message">
                        <p>{{ error | escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="ui error message"></div>

            <button class="ui button">Send Invite</button>
        </form>
    </div>
</div>